<h1>New user</h1>

<!-- was: form_for(@user), remote: true do |f|, but that wasn't working -->
  <%= form_for(User.new) do |f| %>  <!-- had to take remote: true out for it to work... -->

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <%= f.submit value: "Create User"%>

  <% end %>
    

  <%= link_to 'Back', users_path %>
  